body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    width: 885px;
    margin-bottom: 73px;
    color: white;
}

.navbar {
    padding: 0 35px;
    display: flex;
    margin-bottom: 56px;
    align-items: center;
    position: sticky; /* липкое позиционирование */
    top: 0;           /* прилипает при достижении верха окна */
    z-index: 1000;
    background: white;
}

.logo {
    margin-right: auto;
}

.site-navigation {
    display: flex;
    gap: 36px;
    list-style: none;
    margin-right: 34px;
}

.site-navigation-item a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    color: rgba(226, 0, 0, 1);
    font-weight: 700;
}


.preview {
    background-color: rgba(52, 0, 0, 1);
    display: flex;
}

.preview-content {
    margin-top: 53px;
    margin-left: 61px;
    margin-bottom: 55px;
    margin-right: auto;
}

.preview-content button {
    background-color: white;
    color: rgba(90, 0, 0, 1);
    font-size: 40px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    padding: 15px 20px;
}

.preview img {
    height: auto;
}

.about-preview {
    background: linear-gradient(90deg, 
    #141213 0%,     
    #1C1A1A 27%, 
    #4F4F4F 51%,   
    #50504F 60%,  
    #51504E 71%,     
    #7E7E7D 87%, 
    #919190 100% 
  );
}